.wrap-div-local {
  display: flex;
  flex-direction: column;
}

.wrap-div-local h3 {
margin-top: 10px;
margin-bottom: 10px;
}

.main-div-local {
margin-top: 20px;
}

.main-div-local-card {
  align-items: center;
  max-width: 90%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(214, 40, 40);
  border-radius: 20px ;
  box-shadow:  -5px 5px 5px rgba(0,0,0,0.5);
}

.main-div-local-card-image {
  width: 100%;
  border-radius: 20px 20px 0 0 ;
}

.main-div-local-card h2 {
  /* border-radius: 20px ; */
  color: white;
}