.wrap-div-detalhes {
  align-items: center;
  max-width: 90%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(214, 40, 40);
  border-radius: 8px;
  box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.5);
}

.wrap-div-detalhes h2 {
  font-size: 1em;
  color: white;
  padding: 10px;
}

.displayCard-img-detalhes {
  max-width: 100%;
  border-radius: 8px 8px 0px 0px;
}